<div class="col-sm-3 col-md-2 sidebar">
	<ul class="nav nav-sidebar">
		<li><a href="/"><i class="fa fa-home"></i> Home</a></li>
		<li class="active"><a href="/#/apps"><i class="fa fa-laptop"></i> Apps</a></li>
		<li><a href="#"><i class="fa fa-key"></i> SSH-Keys</a></li>
		<li><a href="#"><i class="fa fa-gears"></i> Settings</a></li>
		<li><a href="#"><i class="fa fa-group"></i> Team</a></li>
	</ul>
</div>